<div class="overlay">
  <div class="overlay-content">
    <div class="tags">
      <span *ngFor="let tag of tags" [class.active]="tag.active">{{ tag.text }}</span>
    </div>
    <div class="container">
      <div class="slide currentSlide mat-display-3">
        <div *ngIf="currentSlides[activeSlide]?.img; else elseActiveSlideText">
          <img src="{{currentSlides[activeSlide]?.img}}" class="active-slide-img" />
          <div class="active-slide-img-text">{{ currentSlides[activeSlide]?.text }}</div>
        </div>
        <ng-template #elseActiveSlideText>
          {{ currentSlides[activeSlide]?.text }}
        </ng-template>
      </div>
      <div class="nextSlides">
        <div class="slide mat-display-1" [class.first]="slide.first_slide_of_tag" *ngFor="let slide of nextSlides">
          <div *ngIf="slide.img; else elseNextSlidesText">
            <img src="{{slide.img}}" class="next-slides-img" />
            <div class="next-slides-text">{{ slide.text }}</div>
          </div>
          <ng-template #elseNextSlidesText>
            {{ slide.text }}
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="toolbar">
    <a class="back-button" mat-mini-fab color="" routerLink="/" [matTooltip]="'Go back to controller'">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <button
      mat-mini-fab
      class="show-notes"
      [matTooltip]="'Show/hide notes'"
      [color]="showNotes ? 'primary' : ''"
      [class.show-notes-disabled]="!showNotes"
      (click)="showNotes = !showNotes"
    >
      <mat-icon>sticky_note_2</mat-icon>
    </button>
    <div class="time">{{ (openlpService.getIsTwelveHourTime()) ? (time|date:'h:mm a') : (time|date:'HH:mm') }}</div>
  </div>
  <div class="sidebar" *ngIf="showNotes && notes">
    <div class="notes" [innerHTML]="notes|nl2br"></div>
  </div>
</div>
